<div
  class="min-h-screen bg-gradient-to-b from-gray-900 via-gray-800 to-gray-900 p-8"
>
  <div class="max-w-[1400px] mx-auto space-y-12">
    <!-- Header -->
    <header class="text-center space-y-4">
      <h1
        class="text-4xl md:text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-indigo-300 to-purple-300"
      >
        Charty boy
      </h1>
    </header>

    <div class="flex gap-x-4 w-full">
      <!-- Reference Chart -->
      <section>
        <app-wind-rose></app-wind-rose>
      </section>

      <!-- Configurable Chart -->
      <section>
        <app-configurable-wind-rose
          (pointsChange)="onConfigurablePointsChange($event)"
        ></app-configurable-wind-rose>
      </section>
    </div>
  </div>
</div>

<app-data-modal
  [isOpen]="isModalOpen"
  [windData]="currentModalData"
  [onClose]="closeModal"
></app-data-modal>
